<section class="teaching-method">
  <div class="teaching-method__inner wrapper ">
    <h2 class="teaching-method__title">
      Как проходят уроки в нашей онлайн школе?
    </h2>
    <ul class="teaching-method__cards">
      <li class="teaching-method__card">
        <figure class="teaching-method__card-inner">
          <img src="../../../img/teaching-method/1.webp" alt="" class="teaching-method__img">
          <figcaption class="teaching-method__texts">
            <h4 class="teaching-method__card-title">
              Дополнительные материалы
            </h4>
            <p class="teaching-method__text">
              Материалы по каждой теме без лишней воды помогут закрепить знания
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="teaching-method__card">
        <figure class="teaching-method__card-inner">
          <img src="../../../img/teaching-method/2.webp" alt="" class="teaching-method__img">
          <figcaption class="teaching-method__texts">
            <h4 class="teaching-method__card-title">
              Проверка и оценка
            </h4>
            <p class="teaching-method__text">
              Все домашние задания проверяются учителем и выставляется оценка в дневник
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="teaching-method__card">
        <figure class="teaching-method__card-inner teaching-method__card_reverse">
          <img src="../../../img/teaching-method/3.webp" alt="" class="teaching-method__img">
          <figcaption class="teaching-method__texts">
            <h4 class="teaching-method__card-title">
              Живые уроки с учителем
            </h4>
            <p class="teaching-method__text">
              Увлекательные уроки с учителем, на которых каждому ребенку будет уделено внимание
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="teaching-method__card">
        <figure class="teaching-method__card-inner teaching-method__card_reverse">
          <img src="../../../img/teaching-method/4.webp" alt="" class="teaching-method__img">
          <figcaption class="teaching-method__texts">
            <h4 class="teaching-method__card-title">
              Домашнее задание
            </h4>
            <p class="teaching-method__text">
              Для закрепления всего ранее полученного материала дети получают домашнее задание
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>