<section class="comparison">
  <div class="comparison__inner wrapper ">
    <h2 class="comparison__title">
      Глянем сравнение:
    </h2>
    <div class="comparison__content">
      <div class="offline-school">
        <h3 class="offline-school__heading">
          Обычная школа
        </h3>
        <ul class="offline-school__list">
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Число детей в классе
            </p>
            <p class="offline-school__difference">
              от 25
            </p>
          </li>
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Количество уроков
            </p>
            <p class="offline-school__difference">
              5-6 в день
            </p>
          </li>
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Дополнительные занятия
            </p>
            <p class="offline-school__difference">
              обязательно
            </p>
          </li>
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Индивидуальный подход
            </p>
            <p class="offline-school__difference">
              нет
            </p>
          </li>
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Гибкий график занятий
            </p>
            <p class="offline-school__difference">
              нет
            </p>
          </li>
          <li class="offline-school__item">
            <p class="offline-school__criterion">
              Собрать ребенка в школу
            </p>
            <p class="offline-school__difference">
              от 30 тыс. рублей
            </p>
          </li>
        </ul>
      </div>
      <div class="online-school">
        <h3 class="online-school__heading">
          Онлайн школа
        </h3>
        <ul class="online-school__list">
          <li class="online-school__item">
            <p class="online-school__criterion">
              Число детей в классе
            </p>
            <p class="online-school__difference">
              до 12
            </p>
          </li>
          <li class="online-school__item">
            <p class="online-school__criterion">
              Количество уроков
            </p>
            <p class="online-school__difference">
              2-3 в день
            </p>
          </li>
          <li class="online-school__item">
            <p class="online-school__criterion">
              Дополнительные занятия
            </p>
            <p class="online-school__difference">
              по желанию
            </p>
          </li>
          <li class="online-school__item">
            <p class="online-school__criterion">
              Индивидуальный подход
            </p>
            <p class="online-school__difference">
              да
            </p>
          </li>
          <li class="online-school__item">
            <p class="online-school__criterion">
              Гибкий график занятий
            </p>
            <p class="online-school__difference">
              да
            </p>
          </li>
          <li class="online-school__item">
            <p class="online-school__criterion">
              Собрать ребенка в школу
            </p>
            <p class="online-school__difference">
              0 рублей
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>