<section class="benefits">
  <div class="benefits__inner wrapper ">
    <h2 class="benefits__title">
      Онлайн школа
      среднего образования это -    </h2>
    <div class="benefits__content">
      <ul class="benefits__cards">
        <li class="benefits__card">
          <img src="../../../img/benefits/1.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Удобный график занятий
          </h4>
          <p class="benefits__text">
            Вы можете выбрать удобное время начала занятий (9:00, 11:00 или 13:00)
          </p>
        </li>
        <li class="benefits__card">
          <img src="../../../img/benefits/2.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Записи уроков доступны всегда
          </h4>
          <p class="benefits__text">
            Пропустил урок - не страшно! Записи уроков можно посмотреть в любое время
          </p>
        </li>
        <li class="benefits__card">
          <img src="../../../img/benefits/3.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Сбалансированная нагрузка
          </h4>
          <p class="benefits__text">
            Никаких лишних и не нужных занятий. Только важное и необходимое
          </p>
        </li>
        <li class="benefits__card">
          <img src="../../../img/benefits/4.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Не нужно покупать школьную форму и канцелярию
          </h4>
          <p class="benefits__text">
            Тетрадка, ручка, линейка и карандаш - это все, что нужно для учебы в онлайн школе!
          </p>
        </li>
        <li class="benefits__card">
          <img src="../../../img/benefits/5.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Высококлассные педагоги
          </h4>
          <p class="benefits__text">
            Опытные учителя прошедшие строгий отбор и использующие современные методы обучения
          </p>
        </li>
        <li class="benefits__card">
          <img src="../../../img/benefits/6.webp" alt="" class="benefits__img">
          <h4 class="benefits__heading">
            Никакого стресса
          </h4>
          <p class="benefits__text">
            В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно
          </p>
        </li>
      </ul>
      <div class="benefits__promotion">
        <div class="promotion-first-month">
          <img src="../../../img/benefits/benefits_promotion_img.webp" alt="target-audience_promotion_boy" class="promotion-first-month__img">
          <div class="promotion-first-month__texts">
            <h3 class="promotion-first-month__title">
              Первый месяц обучения от 5 250 руб
            </h3>
            <p class="promotion-first-month__subtitle">
              Не знаете подойдет ли вашему ребенку обучение онлайн? Попробуйте первый месяц со скидкой 50%!
            </p>
          </div>
          <div class="promotion-first-month__buttons">
            @@include('../../bem-blocks/_button-group/_button-group.html')
          </div>
        </div>
      </div>
    </div>
  </div>
</section>