<div class="button-group">
  <button class="button-primary">Записаться на урок</button>
  <ul class="button-group__row">
    <li class="button-group__item">
      <p class="button-group__text">
        или написать:
      </p>
    </li>
    <li class="button-group__item">
      <a href="#!" class="button-group__link" target="_blank">
        <img src="../../../img/sprite.svg#socials--telegramm" alt="telegramm">
      </a>
    </li>
    <li class="button-group__item">
      <a href="#!" class="button-group__link" target="_blank">
        <img src="../../../img/sprite.svg#socials--watsapp" alt="watsapp">
      </a>
    </li>
  </ul>
</div>