<section class="tariffs">
  <div class="tariffs__inner wrapper ">
    <h2 class="tariffs__title">
      Сколько стоит обучение в онлайн школе?
    </h2>
    <ul class="tariffs__list">
      <li class="tariffs__rate">
        <div class="price-card">
          <span class="price-card__number">10 500 ₽</span>
          <span class="price-card__text">/мес</span>
        </div>
        <h4 class="tariffs__class-number">
          1-4 класс
        </h4>
        <p class="tariffs__text">
          Веселые и увлекательные уроки
        </p>
        <ul class="tariffs__terms">
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              2-3 урока в день пн-чт
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              10-12 учеников в классе
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              внимание к каждому ребенку
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              интерактивные тренажеры
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              игровая форма обучения
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              зачисление в школу партнер 12 000/год
            </p>
          </li>
        </ul>
        <img src="../../../img/tariffs/1.webp" alt="" class="tariffs__img">
      </li>
      <li class="tariffs__rate">
        <div class="price-card">
          <span class="price-card__number">12 500 ₽</span>
          <span class="price-card__text">/мес</span>
        </div>
        <h4 class="tariffs__class-number">
          5-8 класс
        </h4>
        <p class="tariffs__text">
          Помогаем не потерять интерес
        </p>
        <ul class="tariffs__terms">
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              3-5 уроков в день пн-пт
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              12-15 учеников в классе
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              внимание к каждому ребенку
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              интерактивные тренажеры
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              усиленная подготовка к ОГЭ
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              зачисление в школу партнер 12 000/год
            </p>
          </li>
        </ul>
        <img src="../../../img/tariffs/2.webp" alt="" class="tariffs__img">
      </li>
      <li class="tariffs__rate">
        <div class="price-card">
          <span class="price-card__number">16 500 ₽</span>
          <span class="price-card__text">/мес</span>
        </div>
        <h4 class="tariffs__class-number">
          9-11 класс
        </h4>
        <p class="tariffs__text">
          Самый важный этап в жизни
        </p>
        <ul class="tariffs__terms">
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              4-5 уроков в день пн-пт
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              12-15 учеников в классе
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              внимание к каждому ребенку
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              интерактивные тренажеры
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              усиленная подготовка к ОГЭ и ЕГЭ
            </p>
          </li>
          <li class="tariffs__terms-item">
            <p class="tariffs__terms-text">
              зачисление в школу партнер 12 000/год
            </p>
            <img src="../../../img/tariffs/3.webp" alt="" class="tariffs__img">
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>