:root {
  --base: 4px;
  --color__primary: #243976;
  --indent__big: 80px;
  --indent: 60px;
  --gradient__primary: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
  --gradient__secondery: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
  --transition: 0.2s;
}
