<section class="certificate">
    <div class="certificate__inner wrapper ">
        <div class="certificate__texts">
            <h2 class="certificate__title">
                Аттестат государственного образца
            </h2>
            <p class="certificate__text">
                Вы получите аттестат государственного образца. Он ничем не отличается от аттестата которые выдают в обычных школах.С аттестатом вы сможете продолжить обучение в лучших вузах страны.
            </p>
        </div>
        <img src="../../../img/certificate/certificate.webp" alt="" class="certificate__img">
    </div>
</section>