<section class="target-audience">
    <div class="target-audience__inner wrapper ">
        <h2 class="target-audience__title">
            Кому подходит онлайн образование?
        </h2>
        <ul class="target-audience__cards">
            <li class="target-audience__card">
                <figure class="target-audience__card-inner">
                    <img src="../../../img/sprite.svg#icons--icon-idea" alt="icon-idea">
                    <figcaption>
                        Для тех, кто хочет получать знания
                    </figcaption>
                </figure>
            </li>
            <li class="target-audience__card">
                <figure class="target-audience__card-inner">
                    <img src="../../../img/sprite.svg#icons--icon-travel" alt="icon-travel">
                    <figcaption>
                        Для путешественников
                    </figcaption>
                </figure>
            </li>
            <li class="target-audience__card">
                <figure class="target-audience__card-inner">
                    <img src="../../../img/sprite.svg#icons--icon-family" alt="icon-family">
                    <figcaption>
                        Для семейного обучения
                    </figcaption>
                </figure>
            </li>
            <li class="target-audience__card">
                <figure class="target-audience__card-inner">
                    <img src="../../../img/sprite.svg#icons--icon-sports" alt="icon-sports">
                    <figcaption>
                        Для спортсменов
                    </figcaption>
                </figure>
            </li>
            <li class="target-audience__card">
                <figure class="target-audience__card-inner">
                    <img src="../../../img/sprite.svg#icons--icon-location" alt="icon-location">
                    <figcaption>
                        Для проживающих за рубежом
                    </figcaption>
                </figure>
            </li>
        </ul>
        <div class="target-audience__promotion">
            <div class="promotion-first-month">
                <img src="../../../img/target-audience/target-audience_promotion_img.webp" alt="target-audience_promotion_girl" class="promotion-first-month__img">
                <div class="promotion-first-month__texts">
                    <h3 class="promotion-first-month__title">
                        Первый месяц обучения от 5 250 руб
                    </h3>
                    <p class="promotion-first-month__subtitle">
                        Не знаете подойдет ли вашему ребенку обучение онлайн? Попробуйте первый месяц со скидкой 50%!
                    </p>
                </div>
                <div class="promotion-first-month__buttons">
                    @@include('../../bem-blocks/_button-group/_button-group.html')
                </div>
            </div>
        </div>
    </div>
</section>